body{
    background-image: url(Images/Manchester_City_Football_Club.png);
    background-size: cover;
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.StyleDiv{
    color: #001838;
    margin-top:-2.5%;
    margin-left: -0.5%;
    height: 70px;
    width: 101%;
    background-color: #7DBDF0;
    transition: transform 1s;
    
}
.StyleDiv:hover{
    transform: translateX(10px) scale(1.2);
}
@font-face {
    font-family: Manchester;
    src: url(bignoodletitling/big_noodle_titling.ttf)
    
  }
  
h1{
    font: bold 70px Manchester, sans-serif;
}
.BlockOp{
    background-color: #7DBDF0;
    height: 56.8rem;
    width: 10%;
    margin-left: -0.43%;
    transition: transform 1s;
    margin-top:0.3%;
}

.BlockOp:hover{
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
}

.button {
    font: bold 140px Manchester, sans-serif;
    background-color: gold;
    border: none;
    color: #001838;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 15px;
    cursor: pointer;
    border-radius: 40px;
    margin-top:10%;
}

.button:hover {
    background-color: goldenrod;
    box-shadow: 0 5px #001838   ;
    transform: translateY(4px);
}

.bottom {
    font: bold 140px Manchester, sans-serif;
    background-color: gold;
    border: none;
    color: #001838;
    padding: 10px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 15px;
    cursor: pointer;
    border-radius: 40px;
    margin-top:10%;
}

.bottom:hover {
    background-color: goldenrod;
    box-shadow: 0 5px #001838   ;
    transform: translateY(4px);
}

.battom {
    font: bold 140px Manchester, sans-serif;
    background-color: gold;
    border: none;
    color: #001838;
    padding: 10px 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 15px;
    cursor: pointer;
    border-radius: 40px;
    margin-top:10%;
}

.battom:hover {
    background-color: goldenrod;
    box-shadow: 0 5px #001838   ;
    transform: translateY(4px);
}

.pattom {
    font: bold 140px Manchester, sans-serif;
    background-color: gold;
    border: none;
    color: #001838;
    padding: 10px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 15px;
    cursor: pointer;
    border-radius: 40px;
    margin-top:10%;
}

.pattom:hover {
    background-color: goldenrod;
    box-shadow: 0 5px #001838   ;
    transform: translateY(4px);
}